@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.splash-container{
    height: 100vh;
    background: #4F4F4F url('../images/splatter.svg') no-repeat bottom right;
    background-size: cover;
    display: grid; 
    align-content: center; 
    text-align: center;
    color: white;
    padding: none;
}

.avatar{
    display: inline-block;
    margin: 0 auto;
    width: 125px; 
    height: 125px;
    border-radius: 50%;
    z-index: 2;
}

.avatar img{
    width: 125px; 
    height: 125px;
    border-radius: 50%;
    border : 2px solid white;;
}
.personal-card{
    display: inline-block;
    margin: 0 auto;
    max-width: 400px;
    background : linear-gradient(180deg, #FF6985 0%, #FF8E7D 100%, #C16D60 100%);
    padding: 2em 2em;
    align-items: centerl;
    border-radius: 25px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom : 60px;
}

.personal-card h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 50px;
}

.personal-card h3 {
    font-size: 20px;
    color: #FFC9C9;
    line-height: 34px;
    margin-bottom: 20px;
}

.typed {
    font-size: 25px;
}

.cta{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    align-content: center;
    text-align: center;
    margin: 1em 0.75em;
    margin-bottom: 0px;
    border: none;
}

.cta i{
    font-size: 25px;
    padding-top: 5px;
}

#google {
    background : linear-gradient(180deg, #1EA2F1 0%, #C0453B 0.01%, #8F322A 98.44%);
}

#google:hover {
    background : linear-gradient(180deg, #1EA2F1 0%, #8F322A 0.01%, #C0453B 98.44%);
}

#linked-in{
    background : linear-gradient(180deg, #0077B5 0%, #00466B 100%);
}

#linked-in:hover{
    background : linear-gradient(180deg, #00466B 0%, #0077B5 100%);
}

#github{
    background: linear-gradient(180deg, #667EEA 0%, #764BA2 100%);
}

#github:hover{
    background: linear-gradient(180deg, #764BA2 0%, #667EEA 100%);
}

.scroll-downs {
    margin: auto;
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }