@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.splash-container{
    height: 100vh;
    background: black url('../images/splatter.svg') no-repeat bottom right;
    display: grid; 
    align-content: center; 
    text-align: center;
    color: white;
}